<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>here is the AppComponent!</h3>
      <hr />
      <!-- selector: 'app-servers' -->
      <app-servers></app-servers>

      <!--- => selector: '[app-servers]'  -->
      <!-- <div app-servers></div> -->

      <!--- => selector: '.app-servers'  -->
      <!-- <div class="app-servers"></div> -->

      <warning-alert> </warning-alert>
      <div success-alert></div>

      <!-- practicing  -->
      <app-data-binding-practice> </app-data-binding-practice>
      <app-directives-practice> </app-directives-practice>
    </div>
  </div>
</div>
