<div class="row" *ngIf="servers.length">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [queryParams]="{ allowEdit: server.id === 3 ? '1' : '0' }"
        fragment="loading..."
        class="list-group-item"
        *ngFor="let server of servers"
        [routerLink]="['/servers', server.id]"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <button (click)="onReloadPage()">reload page</button>
    <app-edit-server></app-edit-server>
    <hr /> -->
    <!-- <app-server></app-server> -->
  </div>
</div>
